* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: #282A36;
  color: #F8F8F2;
  display: flex;
  font-family: Roboto;
  height: 100%;
  width: 100%;
}

.master {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.menu {
  -webkit-box-align: center;
  background-color: #44475A;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  width: 20rem;
}

.headerMenu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.photo {
  display: flex;
  justify-content: center;
}

#photoProfile {
  border-radius: 50%;
  width: 195px;
  height: 200px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.social-networks a {
  padding-right: 10px;
}

.iconGithub {
  background: url(../img/github.png) no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.iconGithub:hover {
  background: url(../img/github-white.png) no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.iconLinkedin {
  background: url(../img/linkedin.png) no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.iconLinkedin:hover {
  background: url(../img/linkedin-white.png) no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

.btnNavs {
  margin-top: 30px;
  margin-bottom: 20px;
}

.btnSection {
  align-items: center;
  color: #6272A4;
  display: flex;
  font-weight: bold;
  height: 60px;
  justify-content: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  display: block;
  flex-direction: column;
  margin-left: 50px;
  height: 100%;
  padding: 0px 3.75rem 0px 20rem;
  width: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
}

.headerTitle {
  margin-bottom: 50px;
}

.title {
  color: #6272A4;
}

.content {
  
}

table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.bordaCantoEsquerdoSup {
  border: 1px solid white;
  border-bottom: none;
  border-right: none;
}

.bordaEsquerda {
  border: 1px solid white;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.bordaCantoEsquerdoInf {
  border: 1px solid white;
  border-right: none;
  border-top: none;
}

.bordaTopo {
  border: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.bordaDebaixo {
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.bordaCantoDireitoSup {
  border: 1px solid white;
  border-bottom: none;
  border-left: none;
}

.bordaDireita {
  border: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.bordaCantoDireitoInf {
  border: 1px solid white;
  border-top: none;
  border-left: none;
}
